#profil {
    float:left;
    /*position: absolute;*/
    /*height: 100px;*/
    width:500px;
    left:5px;
}

.profil {
    float:left;
    position: absolute;
    height:350px;
    width:550px;
    left:5px;
    /*background-color: blue;*/
}

#profil-image {
    /*float: right;*/
    /*position: absolute;*/
    width: 500px;
}

.profil-image {
    float: right;
    position: absolute;
    /*background-size: 500px 300px;*/
    left:550px;
    height:350px;
    width: 500px;
    /*background-color: red;*/
}

.profil-image > img {
    height:350px;
    width:auto;
}

.global-profil{
    position: absolute;
    /*background-size: 500px 300px;*/
    height:400px;
    width:1100px;    
}